body{background-color:#82B8D9;
color: #ffffff;
box-sizing: border-box;}

#wrapper{margin-left: auto;
margin-right: auto;
width:100%;
}

header{background-image:url(img/contact.jpg);
background-repeat: no-repeat;
background-size: cover;
width:100%;
height:700px;
font-family:Apple Chancery, cursive;
}

h1{position: absolute;
	top: 35%;
	left:10%;
	color:#82B8D9;

}

nav{list-style-type: none;
overflow: hidden;
font-weight: bold;
position: fixed;
top:0;
width:100%;
padding-left:240px;
word-spacing: 40px;
background-color: #ffffff;
opacity: 0.6;
font-family: Didot, serif;
font-weight:bold; }


nav a{ display: block;
  color: #000000;
  text-align: center;
  padding: 13px 13px;
  text-decoration: none;
  float:left;
}

.menu-bar ul{
	display: inline-flex;
}

.active, .menu-bar ul li:hover{
	background: #82B8D9;
	border-radius: 3px;
}


h2{margin-left: 5%;
margin-right: 5%;
margin-top: 5%;

}



footer{
	width:100%;
	margin-top: 150px;
	padding-top: 10px;
	padding-bottom: 0;
text-align: left;
background-color:#012840;
font-family: georgia,"Times New Roman",serif;
}
* {
  box-sizing: border-box;
}


.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;

}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.nav{text-decoration: none;
color: #ffffff;}

h3{margin-left: 5%;
margin-right: 5%;}

p{margin-left: 5%;
margin-right: 5%;}



.textbox{text-align:left;
width:250px;
height:20px;}

#message{text-align:left;
	width:250px;
	height:100px;
	background-color:#999999;
opacity: 0.8;}

.box{
	border:3px ridge #ffffff;
	width:38%;
	margin-left: 5%;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: left;
	letter-spacing: 2px;
	word-spacing: 3px;
	line-height: 2.4;
}


#button{float:right;}

#caption{font-weight: bold;
font-family: Optima, sans-serif;
text-shadow:0 0 10px #FFFFFF;
letter-spacing: 2px;}


