
body{background-color:#012840;
color: #ffffff;
box-sizing: border-box;}

#wrapper{margin-left: auto;
margin-right: auto;
width:100%;}

header{background-image:url(img/plane.jpg);
background-repeat: no-repeat;
background-size: cover;
width:100%;
height:700px;
}

figcaption{font-variant: small-caps;
font-family: Bookman, URW Bookman L, serif;
text-align:left;}

h1{margin-left:-2%;
	position: absolute;
	top: 25%;
	left:40%;
	font-size: 40px;
	color: #FFFFFF;
text-shadow: 0 0 10px #FFFFFF;
font-family:Apple Chancery, cursive;
}

h2{font-family: Palatino, URW Palladio L, serif;
letter-spacing: 2px;
margin-left:5%;}

.search-box{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height:40px;
	border-radius: 20px;
	padding:10px;
	width:400px;
}
.search-btn{
	color:#e84118;
	float:right;
	width:40px;
	height: 28px;
	border-radius: 50%;
	color:#ffffff;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.search-txt{
	border:none;
	background:none;
	outline: none;
	float:left;
	padding:0;
	color:white;
	font-size: 16px;
	transition: 0.4s;
	line-height:20px;
	width: 240px;
}

nav{list-style-type: none;
overflow: hidden;
font-weight: bold;
position: fixed;
top:0;
width:100%;
padding-left:240px;
word-spacing: 40px;
background-color: #ffffff;
opacity: 0.6;
font-family: Didot, serif;
font-weight:bold; }


nav a{ display: block;
  color: #000000;
  text-align: center;
  padding: 13px 13px;
  text-decoration: none;
  float:left;
}

.menu-bar ul{
	display: inline-flex;
}

.active, .menu-bar ul li:hover{
	background: #82B8D9;
	border-radius: 3px;
}

.descriptbox{margin-left:10%;
	margin-right: 10%;
border: 2px solid #ffffff;
width:1000px;
padding-top: 20px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
text-align: justify; }


footer{
	width:100%;
	margin-top: 50px;
	padding-top: 10px;
text-align: left;
background-color:#82B8D9;
font-family: georgia,"Times New Roman",serif;
}

* {
  box-sizing: border-box;
}


.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;

}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.nav1{text-decoration: none;
color: #ffffff;}

h3{margin-left: 5%;
margin-right: 5%;}

p{margin-left: 5%;
margin-right: 5%;}



ipt{margin-left: 130px;
border: 2px solid #ffffff;
width:1000px;
padding-top: 20px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
text-align: justify; }


.link{text-decoration: none;
color:lightgrey;
margin-left: 80%;
font-family: Bookman, URW Bookman L, serif;
} 



* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}