
body{background-color:#82B8D9;
color: #ffffff;
box-sizing: border-box;}

#wrapper{margin-left: auto;
margin-right: auto;
width:100%;}

header{background-image:url(img/sea9.jpg);
background-repeat: no-repeat;
background-size: cover;
width:100%;
height:700px;
font-family:Apple Chancery, cursive;
}

h1{margin-left:-2%;
	position: absolute;
	top: 25%;
	left:40%;
	font-size: 40px;
	color: #FFFFFF;
text-shadow: 0 0 10px #FFFFFF;
}

h2{
	margin-left:10%;
	color: #FFFFFF;
word-spacing: 2px;
letter-spacing: 2px;
font-variant: small-caps;
font-stretch:semi-expanded;
font-family:New Century Schoolbook, TeX Gyre Schola, serif;}


.search-box{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height:40px;
	border-radius: 20px;
	padding:10px;
	width:35%;
}
.search-btn{
	color:#e84118;
	float:right;
	width:10%;
	height:30px;
	border-radius: 50%;
	color:#ffffff;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.search-txt{
	border:none;
	background:none;
	outline: none;
	float:left;
	padding:0;
	color:white;
	font-size: 16px;
	transition: 0.4s;
	line-height:20px;
	width: 50%;
}

nav{list-style-type: none;
overflow: hidden;
font-weight: bold;
position: fixed;
top:0;
width:100%;
padding-left:240px;
word-spacing: 40px;
background-color: #ffffff;
opacity: 0.6;
font-family: Didot, serif;
font-weight:bold; }


nav a{ display: block;
  color: #000000;
  text-align: center;
  padding: 13px 13px;
  text-decoration: none;
  float:left;
}

.menu-bar ul{
	display: inline-flex;
}

.active, .menu-bar ul li:hover{
	background: #82B8D9;
	border-radius: 3px;
}


.div2{position: relative;}

.div1{float:left;
margin-left:15%;
position: absolute;}

.img{border-radius: 10px;
border-style: none;}

footer{
	width:100%;
	margin-top: 700px;
	padding-top: 10px;
	padding-bottom: 0;
text-align: left;
background-color:#012840;
font-family: georgia,"Times New Roman",serif;
}
* {
  box-sizing: border-box;
}


.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;

}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.nav{text-decoration: none;
color: #ffffff;}

h3{margin-left: 5%;
margin-right: 5%;}

p{margin-left: 5%;
margin-right: 5%;}


